<div fxLayout="column" fxLayoutAlign="center center" class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onLogin()" fxLayout="column">
        <mat-form-field>
          <input
            matInput
            placeholder="Username"
            [(ngModel)]="username"
            name="username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
